
body {
    padding: 0;
    margin: 0;
    font-family: arial;
    background: linear-gradient(90deg, #020024 0%, #e3e1ff 0%, #adadff 49%, #00d4ff 100%);
}

#screen {
    width: 1200px;
    height: 500px;
    border: double;
    border-color: #000;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url(sun.png);
    background-color: #fff;
}

#tiempo {
    float: right;
    text-align: center;
}

#coordenadas {
    float: right;
}

input {
    border: none;
}

.crono {
    font-size: 23px;
    width: 30px;
    height: 24px;
    background-color: transparent;
}
